<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View FoodDiary</title>

<!-- Angular and Bootstrap files  -->
<!-- <link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
		/*<![CDATA[*/

		
			let patient;

			var app = angular.module("viewFoodDiaryApp", []);
			app.controller('viewFoodDiaryCtrl', function($scope, $http) {

				$http.get('/iTrust2/api/v1/patient').then(
					function(response){
						$scope.patient = response.data;
						patient = $scope.patient;
						// console.log($scope.patient);
						$scope.getFoodDiaries($scope.patient);
					}
				);
				
				$scope.displayDiary = function(foodDiary) {
					console.log("displayDiary");

					return foodDiary.date + "-" + foodDiary.mealType;
				}

				$scope.selectPatient = function(patient){
					console.log('selectPatient');
					
					$scope.selectedPatient = patient.username;
				}

				$http.get("/iTrust2/api/v1/patients").then(
						function(response) {
							$scope.patients = response.data;
						}, function(rejection){
						});

				$scope.getTotalNutrition= function(patient, date){
					consoel.log('getTotalNutrition');

					$scope.totNut = {};

					$http({
						method : 'GET',
						url : '/iTrust2/api/v1/food_diary/view/' + patient.username + '/' + date
					}).then(function(response){
						$scope.totNut = response.data;
					})

				}

				$scope.getFoodDiaries = function(patient){
					console.log("getFoodDiary");
					console.log(patient);

					console.log(patient.username);

					$scope.FoodDiaries = {};
					$http({

						method: 'GET',
						url : '/iTrust2/api/v1/food_diary/view/' + patient.username 

					}).then(function(response){
						$scope.FoodDiaries = response.data;
					})
				}

				$scope.selectFoodDiary = function(FoodDiary){
					console.log("selectedFoodDiary");

					$scope.selectedFoodDiary = FoodDiary;
					console.log($scope.selectedFoodDiary);
					$scope.getTotalNutrition();
				}


			});
		</script>
		<div ng-app="viewFoodDiaryApp" ng-controller="viewFoodDiaryCtrl">
			
			<!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
			<div
				style="float: left; width: 30%; border-left: 1px solid #bbb; padding-left: 1%; height: 100%; overflow-y: auto">
				<h2 id="header0">FoodDiaries</h2>
				<!-- Patient의 식사 Date 선택창-->
				<ul style="overflow: auto;height=100%;">
					<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
					<li ng-repeat="FoodDiary in FoodDiaries"><h4>
							<label>
									<input type="radio"
								ng-model="$parent.selectedFoodDiary" name="FoodDiary"
								value="{{FoodDiary}}"
								ng-click='$parent.selectFoodDiary(FoodDiary)' />&nbsp;{{$parent.displayDiary(FoodDiary)}}
							</label>
						</h4></li>
				</ul>
			</div>
			<div
				style="float: left; width: 35%; border-left: 1px solid #bbb; padding-left: 1%; height: 100%; overflow-y: auto;">
				<h2 id="header0">Date:{{selectedFoodDiary.date}}</h2>
				<h2 id="header1">FoodName:{{selectedFoodDiary.foodName}} </h2>
				<h2 id="header2">MealType:{{selectedFoodDiary.mealType}} </h2>
				<br>
				<div ng-show="selectedFoodDiary">
					<table>
						<tr>
							<td style="text-align: left; padding: 10px"><b>Number of Servings:</b></td>
							<td>{{selectedFoodDiary.servingNumber}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Calories per Serving:</b></td>
							<td>{{selectedFoodDiary.caloriesPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Grams of Fat per Serving:</b></td>
							<td>{{selectedFoodDiary.fatPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Milligrams of Sodium per Serving:</b></td>
							<td>{{selectedFoodDiary.sodiumPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: leftt; padding: 5px"><b>Grams of Carbs per Serving:</b></td>
							<td>{{selectedFoodDiary.carbsPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Grams of Sugars per Serving:</b></td>
							<td>{{selectedFoodDiary.sugarsPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Grams of Fiber per Serving:</b></td>
							<td>{{selectedFoodDiary.fiberPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Grams of Protein per Serving:</b></td>
							<td>{{selectedFoodDiary.proteinPerServing}}</td>
						</tr>
					</table>

					<br />
				</div>
			</div>
			<div ng-show="selectedFoodDiary">
				<div
				style="float: left; width: 35%; border-left: 1px solid #bbb; padding-left: 1%; height: 100%; overflow-y: auto;">
					<h2 id="totals">Total Nutrition Information for Today</h2>
					<br>
					<table>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Total Calories:</b></td>
							<td>{{totNut.caloriesPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Total Fat:</b></td>
							<td>{{totNut.fatPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Total Sodium:</b></td>
							<td>{{totNut.sodiumPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Total Carbs:</b></td>
							<td>{{totNut.carbsPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Total Sugars:</b></td>
							<td>{{totNut.sugarsPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align:left; padding: 5px"><b>Total Fiber:</b></td>
							<td>{{totNut.fiberPerServing}}</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px"><b>Total Protein:</b></td>
							<td>{{totNut.proteinPerServing}}</td>
						</tr>
					</table>
			
				</div>
			</div>

		</div>
	</div>
</body>
</html>